



@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Mont-Bold';
    src: url('./Fonts/MontBold.woff2');
}
@font-face {
    font-family: 'Mont-Heavy';
    src: url('./Fonts/MontHeavy.woff2');
}
@font-face {
    font-family: 'Mont';
    src: url('./Fonts/MontRegular.woff2');
}
@font-face {
    font-family: 'Mont-Semi-Bold';
    src: url('./Fonts/MontSemiBold.woff2');
}


.link:hover .circle{

    display: block;
    
    }
    .cardo:hover img{
    }
    html{
        /* font-family: 'MontHeavy'; */
    }
